*{
    margin: 0%;
    padding: 0%;
}
header{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}
navbar{
    height: 10%;
}
ul{
    height: 10%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around;
}